---
layout: default
title: jacobswanner.com
---

<div class="entry">
  {% for post in site.posts limit:1 %}
    <h2>{{ post.title }}</h2>
    <span class="date">{{ post.date | date: '%d %b %Y' }}</span>
    {{ post.content }}
  {% endfor %}
</div>
<div id="archive">
  <h3>archive</h3>
  <ul>
    {% for post in site.posts offset:1 %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <span class="date">{{ post.date | date: '%d %b %Y' }}</span>
      </li>
    {% endfor %}
  </ul>
</div>

