body{
	color: #333;
	font-size: .9em;
	margin: 0 auto;
	width: 80%;
}
h1, h2, h3, h4, h5, h6{
	color: #630;
	margin: 0;
	padding: 0;
}
a, a:visited, a:active{
	color: #960;
}
a:hover{
	color: #000;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#header{
	margin: 2em 0;
}
	#header > h3{
		float: right;
	}
#content{
}
	#content > #archive{
		margin: 2em 0;
	}
		#content > #archive li{
			margin: .2em 1em;
		}
		#content > #archive a{
			color: #630;
			font-size: 1.2em;
		}
		#content > #archive a:hover{
			color: #000;
		}
#footer{
	color: #630;
}
span.date{
	color: #666;
	font-size: .8em;
}