<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta name="author" content="Jacob Swanner" />
    <link href="http://feeds2.feedburner.com/jacobswanner" rel="alternate" title="jacob swanner" type="application/atom+xml" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/blueprint/screen.css" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/application.css" />
    <!--[if IE]>
      <link type="text/css" rel="stylesheet" href="/stylesheets/blueprint/ie.css" />
    <![endif]-->
    <link rel="openid.server" href="https://pip.verisignlabs.com/server" />
    <link rel="openid.delegate" href="http://jswanner.pip.verisignlabs.com" />
    <meta name="verify-v1" content="/4GW8+ev7sdbsXZ57JL+UUDZL24dsi6pEgTVaKvKdTg=" />
  </head>
  <body>
    <div id="header">
      <h1><a href="/">random ramblings</a></h1>
      <h3>err on the side of learning</h3>
    </div>
    <div id="content">
      {{ content }}
    </div>
    <div id="footer">
      &copy;2008 jacob swanner | local_part = &quot;jacob&quot;; domain = &quot;jacobswanner.com&quot;; email_address = &quot;#{local_part}@#{domain}&quot;
    </div>
    <script type="text/javascript" src="http://www.google-analytics.com/ga.js"></script>
    <script type="text/javascript">
      //<![CDATA[
      try {
        var pageTracker = _gat._getTracker("UA-7325596-2");
        pageTracker._trackPageview();
      } catch(err) {}
      ]]//>
    </script>
  </body>
</html>